<div th:framgent="navbar">
    <nav>
        <div class="limiter">
            <img th:src="@{/img/logo.png}" class="logo" alt="logo">
            <span class="nav-links">
            <a th:href="@{/}">Home Page</a>
            <a th:href="@{/categories/}">Categories</a>
            <a th:href="@{/products}">Products</a>
            <a href="">Contact</a>
            <a href="">My Account</a>
        </span>

            <a th:href="@{/cart/}">
                <img th:src="@{/img/cart.png}" class="cart" alt="cart-icon">
            </a>
        </div>
    </nav>
</div>